@media (min-width: 640px) {
    
    header img {
        min-width: 1000px;
    }
    nav ul {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
    }

    nav a {
        text-decoration: none;
    }
}