@media (max-width: 950px) {
    #menu::before {
        content: "\2630";
    }
    
    

    #menu {
        /* Adjust positioning properties */
        position: absolute;
        top: 0; /* Adjust as needed */
        right: 0; /* Adjust as needed */
        /* Remove unnecessary properties */
        display: block;
        background: none;
        border: none;
        color: white; /* Change to desired color */
        cursor: pointer;
        font-size: 20px; /* Add unit for font size */
        padding: 10px; /* Adjust padding as needed */
    }
    
    .navigation {
        display: none;
    }

    .navigation a:hover {
        background-color: white;
        color: #f04245;;
    }
    
    #menu.open::before {
        content: "X";
    }
    
    .navigation.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem; 
        right: 1rem; 
        background-color: #f04245;
        z-index: 1000; 
    }

    nav a {
        font-size: large;
    }

    main {
        grid-template-columns: auto;
    }

    p {
        padding-left: 10px;
    }

    h3 {
        text-align: center;
    }
}